
    <div class="" id="reporte11"  style="width:100%">
        <div id="chart1" class="chart table-responsive"></div>
    </div>  

    @{

        if (Request.Browser.Browser == "IE" && Convert.ToDouble(Request.Browser.Version) < 9.0)
        {
        }
        else
        {
<script>
    function Load(data) {
        var obj = JSON.parse(data);
                Highcharts.chart('chart1', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: ' '
                    },
                    xAxis: {
                        type: 'category'
                    },
                    yAxis: {
                        title: {
                            text: 'Cantidad de casos'
                        }

                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true,
                                format: '{point.y: f}'
                            }
                        }
                    },

                    tooltip: {
                        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
                    },

                    "series": [
                        {
                            "name": "Browsers",
                            "colorByPoint": true,
                            "data": obj
                        }
                    ]
                });
            }
</script>
        }
    }
