@{
    Dictionary<string, string> Chart1 = new Dictionary<string, string>();

    List<string> WeightDate = new List<string>();
    List<string> Weight = new List<string>();

}



<div class="" id="reporte11" style="width:100%">
    <div id="chart1" class="chart table-responsive"></div>
</div>

<div>
    @{
        if (ViewBag.Indicators != null)
        {

            var item = ViewBag.Indicators;

            for (int i = 0; i < item.Weights.Count; i++)
            {
                var a = ViewBag.Indicators.Weights[i].y;
                Chart1.Add(string.IsNullOrWhiteSpace(item.Weights[i].Date) ? "" : item.Weights[i].Date, a);
            }

            WeightDate = Chart1.OrderByDescending(x => x.Value).Select(x => x.Key).ToList();
            Weight = Chart1.OrderByDescending(x => x.Value).Select(x => x.Value.ToString()).ToList();

        }
        else
        {
            ViewBag.Indicators = 10;
        }

    }

</div>
@{

    if (Request.Browser.Browser == "IE" && Convert.ToDouble(Request.Browser.Version) < 9.0)
    {
    }
    else
    {
        <script>
    function Load() {      
            Highcharts.chart('chart1', {

                title: {
                    text: 'Historial'
                },

                subtitle: {
                    text: ''
                },
                
                yAxis: {
                    title: {
                        text: 'Kilogramos'
                    }
                },
                legend: {
                    layout: 'horizontal',
                    align: 'right',
                    verticalAlign: 'middle'
                },

                plotOptions: {
                    series: {
                        label: {
                            connectorAllowed: false
                        },
                        //pointStart: '2018-10-07'
                    }
                },
                xAxis: {

                    categories: ['@Html.Raw(string.Join("','", WeightDate))'],
                    labels: {
                        skew3d: true,
                        style: {
                            fontSize: '16px'
                        }
                    }
                },
                series: [{
                    name: 'Peso',
                    data: [@Html.Raw(string.Join(",", Weight))],
                }],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }

            });
                
        }
        </script>
    }
}

