<style>
    #Loading {
        background-color: rgba(0, 0, 0, 0.60);
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 9999;
    }

        #Loading > img {
            width: 200px;
        }

    .pagination-active span {
        color: #f39c12 !important;
    }

    #filtPaciente {
        opacity: 0;
    }

    .Chart {
        height: auto;
        margin: 10px;
        box-shadow: 3px 3px 3px #adadad;
        border: 1px rgba(173, 173,173, 0.1) inset;
        min-width: 300px;
    }

        .Chart .title {
            padding-left:10px;
            /*padding: 2px;*/
            color: #3c3c3b;
            text-align: left;
            border-bottom: 1px rgba(173, 173,173, 0.5) inset;
            font-weight:500;
        }

        .Chart .info {
            color: #3c3c3b;
            font-family: 'Roboto', sans-serif;
            font-size: 13px;
            padding: 10px;
            padding-left: 0px;
            margin: 1px;
            border-bottom: 1px rgba(173, 173,173, 0.5) inset;
            text-align: left;
        }

            .Chart .info div {
                padding-left: 0px;
            }

            .Chart .info .result {
                margin-left: 10px;
            }

        .Chart div:last-child {
            border-bottom: none;
        }

   

    .contenedor-main {
        margin-bottom: 20px;
    }

    aside {
        color: #0d47a1;
    }

    aside .notice{
        position:fixed;
        margin-right:15px;
    }

    .label-danger,
    .label-info,
    .label-warning,
    .label-success {
        border-radius: 2px;
        padding: 2px;
    }

    .fixedContainer_ {
        background-color: #ddd;
        position: fixed;
        padding: 2em;
        left: 50%;
        top: 0%;
        transform: translateX(-50%);
    }

    .fixedContainer {
        background-color: #ddd;
        position: fixed;
        padding: 2em;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
</style>
<link href="~/Content/fullcalendar.css" rel="stylesheet" />
<link href="~/Content/css/FullCalendar-custom.css" rel="stylesheet" />
<div class="container-fluid">
    <section class="contenedor-main  row">
        <main class="col-md-8">
            <div class="box box-default mt-2" id="acordion">
                <div class="box-header with-border" id="heading1">
                    <h3 class="box-title" style="cursor:pointer;" onclick="ColapsarFiltro('collapse1')"><i class="icon-calendar"></i> Banjeda de Pacientes</h3>
                </div>
                <div id="collapse1" class="box-body collapse show" aria-labelledby="heading1" style="overflow:hidden;">
                    <div class="row">
                        <div class="col-12 col-lg-3 col-xl-3">
                            <div class="form-group">
                                <label for="">Paciente / DNI</label>
                                <input type="text" id="PacientFullName" class="form-control" maxlength="150" placeholder="Ingrese nombre del paciente" />
                            </div>
                        </div>

                        <div class="col-12 col-lg-3 col-xl-3">
                            <div class="form-group">
                                <label for="">Desde: </label>
                                <input type="date" id="StartDate" class="form-control" />
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 col-xl-3">
                            <div class="form-group">
                                <label for="">Hasta:</label>
                                <input type="date" id="EndDate" class="form-control" />
                            </div>
                        </div>

                        <div class="col-12 col-lg-3 col-xl-2">
                            <div class="form-group">
                                <label for="" id="filtPaciente" class="d-none d-lg-block">Filtrar</label>
                                <button class="btn btn-info boton form-control" onclick="Filtrar(1)">
                                    <i class="fa fa-search"></i> Filtrar
                                </button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div id="RenderBandeja">
                @Html.Partial("_BoardPatientsAssistancePartial")
            </div>
            <div class="row">
                <div class="box box-default mt-2 col-12" id="acordion">
                    <div class="box-header with-border" id="heading1" onclick="ColapsarFiltro('collapse2')">
                        <h3 class="box-title" style="cursor:pointer;">Agenda de Citas </h3>
                    </div>
                    <div id="collapse2" class="box-body collapse show" aria-labelledby="heading1" style="overflow:hidden;">
                        <div class="row">
                            <div class="col-12">
                                <div id="calendar" class="calendar-custom mt-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <aside class="col-md-4 ">
            <div class="row notice ">
                <div class="col Chart">
                    <div class="row title">
                        Avisos Diarios
                    </div>
                    <div class="row info ">
                        <div class="col-10">
                            Completar datos de empresa:
                        </div>
                        <div class="col-2">
                            <span class="label label-warning result">10</span>
                        </div>
                    </div>
                    <div class="row info">
                        <div class="col-10">
                            Empresas con  deudas:
                        </div>
                        <div class="col-2">
                            <span class="label label-warning result">02</span>
                        </div>
                    </div>
                    <div class="row info">
                        <div class="col-10 ">
                            Controles para el día de hoy:
                        </div>
                        <div class="col-2">
                            <span class="label label-warning result">18</span>
                        </div>
                    </div>
                </div>
                <div class="col Chart">
                    <div class="row title">
                        Top Diagnósticos
                    </div>
                    <div class="row info ">
                        <img class="img-fluid" src="~/Content/Images/Boceto.png" />
                    </div>
                </div>
            </div>
        </aside>

    </section>


</div>

<script>
    function ColapsarFiltro(id) {
        setTimeout(function () {
            var height = 10;

            for (i = 0; i < $("#" + id + " .row").length; i++) {
                height = height + $($("#" + id + " .row")[i]).height();
            }

            if ($("#" + id).height() == 0) {
                $("#" + id).animate({ "height": height + "px", "padding": "10px" }, 400);
            } else {
                $("#" + id).animate({ "height": "0px", "padding": "0px 10px" }, 400);
            }
        }, 200);
    }

    function ColapsarTabla(id) {
        var Altura = $("#TablaAExportar").height() + 60;

        if ($("." + id).height() == 0) {
            $("." + id).animate({ "height": Altura + "px" }, 400);
        } else {
            alturaTabla = $("." + id).height();
            $("." + id).animate({ "height": "0px" }, 400);
        }
    }

    $(document).ready(function () {
        $('#calendar').fullCalendar({
            lang: 'es',
            contentHeight: 600,
            defaultDate: new Date(),
            timeFormat: 'h(:mm)a',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay,agenda'
            },
            eventLimit: true,
            dayClick: function (date, jsEvent, view) {
                OpenCursoPannel();
                NewCalendar(date);
            }
        });
    });
</script>
