
<div class="container-fluid">
    <section class="contenedor-main  row">
        <main class="col-md-8">
            <div class="box box-info mb-1" id="acordion">
                <div class="box-header with-border" id="heading1">
                    <h3 class="box-title" style="cursor:pointer;" onclick="ColapseTable('TableSummary','heightBoardMedicalSummaryPartial')"><i class="icon-calendar"></i>Resumen EMO</h3>
                </div>
            </div>
            <input id="heightBoardMedicalSummaryPartial" type="hidden" value="">
            <div id="RenderBoardMedicalSummaryPartial">
                @Html.Partial("_BoardMedicalSummaryPartial")
            </div>
            <div class="box box-info mb-1" id="acordion">
                <div class="box-header with-border" id="heading1">
                    <h3 class="box-title" style="cursor:pointer;" onclick="ColapseTable('DivDataPacient','heightDivDataPacient')"><i class="icon-calendar"></i>Datos del Paciente</h3>
                </div>
            </div>
            <input id="heightDivDataPacient" type="hidden" value="">
            <div class="table-responsive " id="DivDataPacient">
                <div class="row" style="margin:0px; padding:0px;">
                    <div class="col-12">
                        <form action="/">
                            <div class="form-group row">
                                <div class="col-12 col-md-4">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pacient" id="pacient" />
                                    <label for="nombre" class="has-float-label">Paciente</label>
                                </div>
                                <div class="col-12 col-md-4">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pass" id="pass" />
                                    <label for="nombre" class="has-float-label">Empresa/Sede/Área</label>
                                </div>
                                <div class="col-12 col-md-4">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pacient" id="pacient" />
                                    <label for="nombre" class="has-float-label">Puesto</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="box box-info mb-1" id="acordion">
                <div class="box-header with-border" id="heading1">
                    <h3 class="box-title" style="cursor:pointer;" onclick="ColapseTable('DivMedicalConsultation','heightDivMedicalConsultation')"><i class="icon-calendar"></i>Consulta Médica</h3>
                </div>
            </div>
            <input id="heightDivMedicalConsultation" type="hidden" value="">
            <div class="table-responsive " id="DivMedicalConsultation">
                <div class="row" style="margin:0px; padding:0px;">
                    <div class="col-12">
                        <form action="/" class="formGroup">
                            <div class="form-group row">
                                <div class="col-12 col-md-2">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pacient" id="pacient" />
                                    <label for="nombre" class="has-float-label">Peso</label>
                                </div>
                                <div class="col-12 col-md-2">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pass" id="pass" />
                                    <label for="nombre" class="has-float-label">Talla</label>
                                </div>
                                <div class="col-12 col-md-2">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pacient" id="pacient" />
                                    <label for="nombre" class="has-float-label">IMC</label>
                                </div>
                                <div class="col-12 col-md-2">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pacient" id="pacient" />
                                    <label for="nombre" class="has-float-label">P. Abdom.</label>
                                </div>
                                <div class="col-12 col-md-2">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pass" id="pass" />
                                    <label for="nombre" class="has-float-label">P. Cad.</label>
                                </div>
                                <div class="col-12 col-md-2">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pacient" id="pacient" />
                                    <label for="nombre" class="has-float-label">I. C.</label>
                                </div>
                            </div>
                            <div class="form-group row formGroup">
                                <div class="col-12 col-md-2">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pacient" id="pacient" />
                                    <label for="nombre" class="has-float-label">PS-PD</label>
                                </div>
                                <div class="col-12 col-md-2">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pacient" id="pacient" />
                                    <label for="nombre" class="has-float-label">F. Respi.</label>
                                </div>
                                <div class="col-12 col-md-2">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pacient" id="pacient" />
                                    <label for="nombre" class="has-float-label">F. Cardi.</label>
                                </div>
                                <div class="col-12 col-md-2">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pacient" id="pacient" />
                                    <label for="nombre" class="has-float-label">PSD</label>
                                </div>
                                <div class="col-12 col-md-2">
                                    <input type="text" class="form-control inputLabelFloat" placeholder="" name="pacient" id="pacient" />
                                    <label for="nombre" class="has-float-label">Sat. O.</label>
                                </div>
                            </div>
                            <div class="form-group row" style="margin-left:0px; margin-right:0px;">
                                <div class="col-12 mt-3" style="border: 1px rgba(173, 173,173, 0.3) solid;">
                                    <label for="nombre" class="labelMotivo">Motivo de Consulta</label>
                                    <div class="row pt-0 pb-0" style="padding-left:10px; padding-right:10px">
                                        <div class="col-12 col-md-4 ">
                                            <label class="xxxx radButton">
                                                Ambulatoria
                                                <input type="radio" checked="checked" name="radio">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label class="xxxx radButton">
                                                Urgencia
                                                <input type="radio" name="radio">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label class="xxxx radButton">
                                                Emergencia
                                                <input type="radio" name="radio">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </main>
        <aside class="col-md-4 w-100">
            <div class="row notice ">
                <div class="col-12 Chart mr-0">
                    <div class="row title" onclick="ColapseTable('DivTopDx','heightDivTopDx')">
                        Top Diagnósticos
                    </div>
                    <input id="heightDivTopDx" type="hidden" value="">
                    <div id="DivTopDx" style="overflow:hidden">
                        <div class="row info">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="peso-tab" data-toggle="tab" role="tab" aria-controls="Peso" aria-selected="true" onclick="NavTabActive()" href="#Peso">Peso</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="Hemoglobina-tab" data-toggle="tab" role="tab" aria-controls="Hemoglobina" aria-selected="true" onclick="NavTabActive()" href="#Hemoglobina">Hemoglobina</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="Talla-tab" data-toggle="tab" role="tab" aria-controls="Talla" aria-selected="true" onclick="NavTabActive()" href="#Talla">Talla</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="Presión-tab" data-toggle="tab" role="tab" aria-controls="Presion" aria-selected="true" onclick="NavTabActive()" href="#Presion">Presión</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="Peso" role="tabpanel" aria-labelledby="home-tab">Peso<img class="img-fluid" src="~/Content/Images/Boceto.png" /></div>
                                <div class="tab-pane fade" id="Hemoglobina" role="tabpanel" aria-labelledby="profile-tab">Hemoglobina<img class="img-fluid" src="~/Content/Images/Boceto.png" /></div>
                                <div class="tab-pane fade" id="Talla" role="tabpanel" aria-labelledby="contact-tab">Talla<img class="img-fluid" src="~/Content/Images/Boceto.png" /></div>
                                <div class="tab-pane fade" id="Presion" role="tabpanel" aria-labelledby="contact-tab">Presión<img class="img-fluid" src="~/Content/Images/Boceto.png" /></div>
                            </div>
                            
                        </div>
                    </div>

                </div>
                <div class="col-12 Chart mr-0">
                    <div class="row title" onclick="ColapseTable('DivAntece','heightDivAntece')">
                        Antecedentes
                    </div>
                    <input id="heightDivAntece" type="hidden" value="">
                    <div id="DivAntece" style="overflow:hidden">
                        <div class="row info ">
                            <div class="col-10">
                                Completar datos de empresa:
                            </div>
                            <div class="col-2">
                                <span class="label label-warning result">10</span>
                            </div>
                        </div>
                        <div class="row info">
                            <div class="col-10">
                                Empresas con  deudas:
                            </div>
                            <div class="col-2">
                                <span class="label label-warning result">02</span>
                            </div>
                        </div>
                        <div class="row info">
                            <div class="col-10 ">
                                Controles para el día de hoy:
                            </div>
                            <div class="col-2">
                                <span class="label label-warning result">18</span>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
        </aside>
    </section>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/JqueryFormValidate.js"></script>
<script src="~/Scripts/FormValidateSecurity.js"></script>
<link href="~/Content/Themes/FormValidatorTheme.css" rel="stylesheet" type="text/css" />
<script>
    $(document).ready(function () {
        var inputs = document.getElementsByClassName('inputLabelFloat');
            for (var i = 0; i < inputs.length; i++) {
                inputs[i].addEventListener('keyup', function () {
                if (this.value.length >= 1) {
                    this.nextElementSibling.classList.add('static');
                } else {
                    this.nextElementSibling.classList.remove('static');
                }
        });
    }
    })
    function NavTabActive() {
        $("ul li a").removeClass("active");
        $(this).toggleClass("active");
    }
    
</script>