html {
    margin: 0px;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bigBox-Fondo {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    display: none;
    z-index: 99998;
}


.icon {
    font-size: 40px;
    height: 70px;
}
.tileNotification{
    color: white;
    font-size: 20px;
}
.rowText {
    height: 70px;
    width:498px;
}
.rowTitleAndButton {
    height: 72px;
    width: 486px;
}
.bigBox-contenedor {
    width: 500px;
    height: 216px;
    position: fixed;
    top: 150px;
    left: 150px;
    display: none;
    opacity: 0;
    border: 1px solid rgba(0,0,0,0.5);
    z-index: 99999;
}

.bigBox-Aceptar {
    border: 1px solid white;
    background-color: rgba(0, 0, 0,0);
    color: white;
    height: 40px;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

.bigBox-Cancelar {

    border: 1px solid white;
    background-color: rgba(0, 0, 0,0);
    color: white;
    height: 40px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}

.bigBox-Ok {
    border: 1px solid white;
    background-color: rgba(0, 0, 0,0);
    color: white;
    height:40px;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
}
.dangerTitleAndButtons {
    background-color: #d33724;
}
.dangerMessage {
    background-color: #dd4b39;
}

.successTitleAndButtons {
    background-color: #008d4c;
}
.successMessage {
    background-color: #00a65a;
}

.infoTitleAndButtons {
    background-color: #00a7d0;
}
.infoMessage {
    background-color: #00c0ef;
}

.warningTitleAndButtons {
    background-color: #db8b0b;
}
.warningMessage {
    background-color: #f39c12;
}

.bigBox-Texto {
    color: #fff;
    font-size: 15px;
}

.bigBox-Aceptar:hover {
    background-color: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);
}
.bigBox-Cancelar:hover {
    background-color: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);
}
.bigBox-Ok:hover {
    background-color: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);
}
.bigBox-Aceptar:focus {
    outline: 0;
}
