@{
    int Take = 0;
    int Total = 0;
    int Primer = 0;
    int Ultimo = 0;
    int Index = 0;
    string ProductName = "";
    string ProductId = "";
    int CategoryId = 0;
    string Brand = "";
    string Model = "";

    if (ViewBag.DataProduct != null)
    {
        ProductName = ViewBag.DataProduct.ProductName;
        ProductId = ViewBag.DataProduct.ProductId;
        CategoryId = ViewBag.DataProduct.CategoryId;
        Brand = ViewBag.DataProduct.Brand;
        Model = ViewBag.DataProduct.Model;
    }



}

<div class="container-fluid" style="padding:0px;">
    <div class="box box-default mt-2" id="acordion">
        <div class="box-header with-border" id="heading1">
            <h3 class="box-title" style="cursor:pointer;" onclick="ColapsarTabla('table-responsive')"><i class="icon-list-numbered"></i> Listado de Movimientos </h3>
        </div>
    </div>
</div>
<div>
    <span class="informacion">Mostrando desde N° @Primer hasta @Ultimo de un total de @Total entradas</span>
    <div class="float-lg-right">
        Total de registros:
        <select id="take" onchange="Filtrar(1)">
            <option value="10" @(Take == 10 ? "selected" : "")>10</option>
            <option value="25" @(Take == 25 ? "selected" : "")>25</option>
            <option value="50" @(Take == 50 ? "selected" : "")>50</option>
            <option value="0" @(Take == 0 ? "selected" : "")>TODOS</option>
        </select>
    </div>
</div>
<div class="box box-info mt-2">
    <div class="col-12" id="containerMovement">

    </div>
</div>



<div id="movementsBase" style="display:none;">
    <div class="row movements">
        <div class="col-12">
            <table id="movement-0" class="table" m-0>
                <thead>
                    <tr>

                        <th>ID Producto</th>
                        <th>Producto</th>
                        <th>Categoria</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                        <th style="display:none;">RecordStatus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" id="ProductId-0" class="form-control" value="" disabled /></td>
                        <td><input id="nameProduct-0" type="text" class="form-control" value="" /></td>
                        <td><input id="category-0" type="text" class="form-control" value="" disabled /></td>
                        <td><input id="quantity-0" type="number" class="form-control" value="" /></td>
                        <td><input id="priceReferential-0" type="number" step="any" class="form-control" value="" /></td>
                        <td><input id="brand-0" type="text" class="form-control" value="" disabled /></td>
                        <td><input id="model-0" type="text" class="form-control" value="" disabled /></td>
                        <td class="p-0 m-0"><span class="pt-4 m-0 icon-edit d-flex justify-content-center align-items-center"></span></td>
                        <td class="p-0 m-0"><span class=" d-flex justify-content-center align-items-center pt-4 m-0 icon-trash"></span></td>
                        <td style="display:none;" id="Movement-RecordStatus">2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

